<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Moo</title>
  </head>
  <body>
    <div id="app"></div>

    <script type="text/javascript">
      var context = "{{servlet-context}}";
      var csrfToken = "{{csrf-token}}";
      var sentryDSN = "{{sentry-dsn}}";
      var uploadFileSizeLimit = "{{upload-file-size-limit}}";
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    {% style "/css/screen.css" %}
    {% script "/js/app.js" %}
  </body>
</html>
